h1,
h2 {
  font-family: "Love Ya Like A Sister", cursive;
  color: #b1555c;
}

body {
  font-family: "lato", sans-serif;

}

main {
  background-color: #fff;
}

html {
  background-color: #b1555c;
}

a {
  color: #fff;
  text-decoration: none;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}

.banner-content {
  padding-bottom: 10em;
  color: #fff;
  font-family: "Love Ya Like A Sister", cursive;
}



header,
footer {
  background-color: #6c2937;
}

@media only screen and (min-width: 38em) {
