h1,
h2 {
  font-family: "Love Ya Like A Sister", cursive;
  color: #c26e6b;
}

body {
  font-family: lato, sans-serif;
  background-image: url("../images/candy-icon.svg");
  background-repeat: repeat;
  background-size: 55px;
}

main {
  background-color: #fff;
}

html {
  background-color: #c26e6b;
}

a {
  color: #fff;
  text-decoration: none;
}

.contact {
  border-style: dashed;
  border-color: #c26e6b;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}

.banner-content {
  padding-bottom: 10em;
  color: #fff;
  font-family: "Love Ya Like A Sister", cursive;
}

header,
footer {
  background-color: #6c2937;
  text-align: center;
  display: block;
}

footer {
  color: #fff;
}

nav {
  display: block;
  text-align: center;
}

a:hover {
  background-color: #c26e6b;
  border-radius: 4px;
}

.btn {
  background-color: #c26e6b;
  border-color: #c26e6b;
}

.btn:hover {
  background-color: #6c2937;
  border-color: #6c2937;
}

@media only screen and (min-width: 25em) {

  header {
    text-align: left;
    display: inline-block;
  }

  footer {
    text-align: left;
  }

  nav {
    text-align: right;
    display: inline-block;
  }

}
