h1,
h2 {
  font-family: "Love Ya Like A Sister", cursive;
  color: #00B7C4;
}

body {
  font-family: "lato", sans-serif;

}

main {
  background-color: #fff;
}

html {
  background-color: #9EEDE9;
}

a {
  color: #fff;
  text-decoration: none;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}

.banner-content {
  padding-bottom: 10em;
  color: #fff;
  font-family: "Love Ya Like A Sister", cursive;
}


.nav {
  display: none;
  position: absolute;
  right: 0;
  top: 2rem;
  z-index: 100;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav-label {
  background-color:;
}

.nav-label {
  float: right;
  display: inline-block;
  width: 2rem;
}

li {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

header,
footer {
  background-color: #FFE0B8;
}

@media only screen and (min-width: 38em) {

  .nav-label {
    display: none;
  }

  .nav-check {
    display: none;
  }

  .nav {
    display: inline-block;
    float: right;
    position: static;
    max-width: 50%;
    padding: 0;
  }

    header > h1 {
    float: left;
    max-width: 50%;
  }

  nav li {
    display: inline-block;
  }
}
